.container{
  height: 100vh;
    width: 100vw;
    align-items: stretch;
  overflow: hidden;
  background-size: cover;
  background-image: url("./photos/food-background.jpg");
  position: sticky;
}

.box{
  background-image:linear-gradient(rgb(255, 102, 0), orange);
  padding: 40px 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  margin-top: 10%;
  border-radius:50px;
  height: 300px;
  width: 400px;	
  margin-right: 20%;
  position: sticky;
  float:right;
}
.boxsign{
  background-image:linear-gradient(rgb(255, 102, 0), orange);
  padding: 40px 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  margin-top: 5%;  
  margin-right: 20%;
  border-radius:50px;
  position: sticky;
  float:right;

}

.logo{
  font-size: 25px;
	float:left;
  padding: 5px;
  margin-top:-4%;
  height: 70px;
  width: auto;
}
.header{
  background-color:rgb(255, 130, 0);
  position: sticky;
  padding: .5%
}

